/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

html {
  overflow-y: scroll; 
  
}
.modal-open {
  padding-right: unset !important;
}
body {
  overflow: hidden;
  padding-bottom: 215px;
  color: #5a5a5a;
   height: 100%;
}
.btn {
  transition: -webkit-box-shadow 0.1s;
  transition: box-shadow 0.1s;
}
.form-inline .btn.active.focus, .form-inline .btn.active:focus, .form-inline .btn.focus, .form-inline .btn:active.focus, .form-inline .btn:active:focus, .form-inline .btn:focus {
  outline: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125), 0 0 0 1pt #66afe9;
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125), 0 0 0 1pt #66afe9;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: unset;
}
@media (min-width: 768px) {
  .extended-searchbar {
    min-width: 300px;
  }
}

.navbar-inverse {
  border-color: #333;
}

#navbar .form-search {
  margin-top: 1vh;
  margin-bottom: 8px;
}

.form-control {
  display: inline-block;
  width: 80%;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: unset;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 50px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 0px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 0px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}



/*Portfolio===============================*/
#portfolio {  
    margin: 1rem 0;
    -webkit-column-count: 3; 
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    -webkit-column-width: 33.33333333333333%;
    -moz-column-width: 33.33333333333333%;
    column-width: 33.33333333333333%;
}
#portfolio-container .tile { 
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;

}

#portfolio-container .scale-anm {
  transform: scale(1);
}


#portfolio-container p{ 
  padding:10px; 
  border-bottom: 1px #ccc dotted; 
  text-decoration: none; 
  font-family: lato; 
  text-transform:uppercase; 
  font-size: 12px; 
  color: #333; 
  display:block; 
  float:left;
}

#portfolio-container p:hover { 
  cursor:pointer; 
  background: #333; 
  color:#eee; }

#portfolio-container .tile img {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  
}

#portfolio-container .btn {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    line-height: normal;
    padding: 5px 10px;
    margin: 3px;
    height: auto;
    border: 1px solid;
    vertical-align: middle;
    -webkit-appearance: none;
    color: #555;
    background-color: rgba(0, 0, 0, 0);
}



#portfolio-container .btn.fil-cat:hover:not(.active) {
  text-decoration: none;background-color:rgba(19, 169, 255, 0.5);
}

#portfolio-container .btn.fil-tmp:hover:not(.active) {
  text-decoration: none;background-color:rgba(255, 19, 82, 0.5);
}

#portfolio-container .btn.fil-brd:hover:not(.active),
#dropdownMenu2:hover:not(.active) {
  text-decoration: none;background-color:rgba(188, 226, 19, 0.5);
}

#portfolio-container .btn:active,
#portfolio-container .btn:focus {
  outline: none;
}

/*Portfolio===============================*/
#portfolio-container .fil-cat.active,
#portfolio-container .fil-cat.active:active {
   background-color:#13a9ff;color:#fff;
    outline: 0;
    box-shadow: none; 
}
#portfolio-container .fil-tmp.active,
#portfolio-container .fil-tmp.active:active {
   background-color:#ff1351;color:#fff;
    outline: 0;
    box-shadow: none; 
}
#portfolio-container .fil-brd.active,
#portfolio-container .fil-brd.active:active,
#portfolio-container #dropdownMenu2.active,
#portfolio-container #dropdownMenu2.active:active
 {
   background-color:#bce213;color:#fff;
    outline: 0;
    box-shadow: none; 
}

#portfolio-container {
    margin-top:2vh;
}

.img-circle {
    border-radius: 0%;
    height:unset;
}

.container.marketing > .row > div {
  margin-bottom: 3rem;
}

.container.marketing > .row img {
  margin-bottom: 1rem;
  
}


#product-container .text-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.open>.dropdown-menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

/*modal */

.modal-body {
  background-color: aliceblue;
}

.col-md-offset-12 {
  margin-left:unset;
}

/*Footer*/

.footer-classic {
    
    background-color: #222;
   
    
    position:absolute;
    left:0px;
width: 100%;
  
}

.context-dark, .bg-gray-dark, .bg-primary {
    color: rgba(255, 255, 255, 0.8);
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: #ffffff;
}
.nav-list li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 23px;
    font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}
.social-container .col {
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-list li a:before {
    content: "\f14f";
    font: 400 21px/1 "Material Design Icons";
    color: #4d6de6;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
}

/*fin footer*/



.featurette-heading {
    margin-top: 70px;
}

#tousnosproduits {
    
        text-align: center;
    color: #5a5a5a;
    text-decoration: none;
      
}