<tr>
    <td class="col-sm-8 col-md-6 ">
        <div class="media ">
            <a class="thumbnail pull-left" href="# ">
                <img class="media-object " src="img/<?= $product['picture_name'] ?>" style="width: 72px; height: 72px; "> </a>
            <div class="media-body ">
                <h4 class="media-heading ">
                    <a href="product.php"><?= $product['name'] ?></a>
                </h4>
                <h5 class="media-heading "> ref.
                    <span><?= $product['ref'] ?></span>
                </h5>
                <span>Statut: </span>
                <span class="text-success ">
                    <strong><?php if(isset($product['is_available']) && $product['is_available'] == 1) { echo 'En stock'; } else { echo 'En réapprovisionnement' ; } ?></strong>
                </span>
            </div>
        </div>
    </td>
    <td class="col-sm-1 col-md-1 " style="text-align: center ">
        <input type="number" class="form-control" value="<?= $_SESSION['cart']['product_qty'][$i] ?>">
    </td>
    <td class="col-sm-1 col-md-1 text-center ">
        <strong><?= $product['price'] ?></strong>
    </td>
    <td class="col-sm-1 col-md-1 text-center ">
        <strong><?= $prdTotalPrice ?></strong>
    </td>
    <td class="col-sm-1 col-md-1 ">
        <button type="button " class="btn btn-danger " action="cart.php?del=<?= $i ?>">
            <span class="glyphicon glyphicon-remove "></span> Annuler
        </button>
    </td>
</tr>

<tr>
    <td class="col-md-6 ">
        <div class="media ">
            <a class="thumbnail pull-left" href="# ">
                <img class="media-object " src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-2/72/product-icon.png
" style="width: 72px; height: 72px; "> </a>
            <div class="media-body ">
                <h4 class="media-heading ">
                    <a href="# ">Deuxième produit</a>
                </h4>
                <h5 class="media-heading "> by
                    <a href="# ">Marque</a>
                </h5>
                <span>Statut: </span>
                <span class="text-warning ">
                    <strong>En réapprovisionnement</strong>
                </span>
            </div>
        </div>
    </td>
    <td class="col-md-1 " style="text-align: center ">
        <input type="email " class="form-control " id="exampleInputEmail1 " value="2 ">
    </td>
    <td class="col-md-1 text-center ">
        <strong>4,99 €</strong>
    </td>
    <td class="col-md-1 text-center ">
        <strong>9,98 €</strong>
    </td>
    <td class="col-md-1 ">
        <button type="button " class="btn btn-danger ">
            <span class="glyphicon glyphicon-remove "></span> Annuler
        </button>
    </td>
</tr>